.button {
  display: block;
  font: inherit;
  padding: 14px 0;
  width: 100%;
  max-width: 320px;
  border: solid 2px @grey;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @grey;
  text-align: center;
  text-transform: uppercase;
  background-color: @white;
  cursor: pointer;
  margin: 0 auto;

  &:hover,
  &:focus {
    color: @white;
    background-color: @grey;
    outline: none;
  }

  &:active {
    color: @action--lighten;
  }
}
