.card-product__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @font-color-base;
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.card-product {
  width: 100%;
  min-width: 260px;
}

.card-product__block {
  border: 1px solid #ececec;
  box-sizing: border-box;
  padding: 23px 34px 26px 28px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card-product__description {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: @font-color-text;
  margin-top: 5px;
  margin-bottom: 24px;
}

.card-product__price {
  font-size: @font-size-base;
  line-height: 24px;
  font-weight: 700;
  color: @font-color-base;
}

.card-product__image {
  background-color: #cacecd;
  display: block;
  width: 100%;
  min-width: 260px;
}

.card-product__title {
  margin: 0;
}

.card-product__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 20px;
  border-top: 1px solid #ececec;
}

.card-product__button {
  color: rgba(0, 0, 0, 0.2);

  &:hover {
    color: @green-main;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

@media @tablet {
  .card-product__link {
    font-size: 20px;
  }

  .card-product__price {
    font-size: 17px;
    width: 230px;
  }

  .card-product__button {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 18px;
  }

  .card-product {
    display: flex;
    flex-wrap: wrap;
    min-width: 668px;
    max-width: 100%;
  }

  .card-product__link-image {
    width: 50%;
    min-width: 334px;
  }

  .card-product__image {
    min-height: 334px;
  }

  .card-product__inner {
    width: 50%;
  }

  .card-product__block {
    display: flex;
    flex-direction: column;
    padding: 26px 32px 28px 28px;
    width: 100%;
    min-width: 334px;
    height: 100%;
    justify-content: space-between;
  }

  .card-product__description {
    font-size: @font-size-base;
    margin-bottom: auto;
  }
}

@media @desktop {
  .card-product {
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 316px;
    min-width: 316px;
    margin-right: 42px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .card-product__link-image,
  .card-product__block {
    max-width: 316px;
    min-width: 316px;
  }

  .card-product__image {
    width: 100%;
  }

  .card-product__inner {
    width: 100%;
    height: 100%;
  }
}
