.catalog {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.catalog__item {
  margin-bottom: 35px;
}

@media @tablet {
  .catalog {
    padding: 67px 51px 0;
  }

  .catalog__item {
    margin-bottom: 54px;
  }
}

@media @desktop {
  .catalog {
    padding: 0;
    padding-top: 110px;
  }

  .catalog__item {
    margin-bottom: 0;
  }
}
