
.catalog {
  padding: 30px 30px 0 30px;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 260px;
}

.catalog__item {
  margin: 0 auto 30px;
}

@media @tablet {
  .catalog {
    padding: 0 50px;
    margin-top: 67px;
  }

  .catalog__list {
    justify-content: flex-start;
    // min-width: 668px;
  }

  .catalog__item {
    margin: 0 auto 54px;
  }
}

@media @desktop {
  .catalog {
    margin: 110px 0 0;
    // max-width: 1150px;
  }

  .catalog__item {
    margin: 0;
    margin-bottom: 57px;
  }
}
