.contact-list {
  margin: 0;
}

.contact-list__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 0;
  padding: 0;
  // position: relative;
}

.contact-list__wrapper-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 0;
  padding: 0;
  position: relative;

}

.contact-list__image {
  position: absolute;
  right: 6px;
  top: 18px;
  opacity: 0.2;
}

.contact-list__input {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  padding: 20px 45px 20px 0;
  border: none;
  box-shadow: inset 0 -2px 0 0 @base;
  margin-bottom: 34px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    box-shadow: inset 0 -2px 0 0 @border-accent;

    & + .contact-list__image {
      color: @border-accent;
      fill: @border-accent; //Для IE
      opacity: 1;
    }
  }

  &::placeholder {
    color: @border-action;
  }
}

.contact-list__label {
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: @primary-color;
  text-transform: uppercase;
  width: 100%;
  margin-top: 0;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    margin-left: 25px;
    height: 1px;
    flex-grow: 1;
    background-color: @primary-color;
  }
}

@media @tablet {
  .contact-list {
    padding: 50px 0 26px;
  }

  .contact-list__wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 24px;
    padding: 0 50px;
  }

  .contact-list__wrapper-input {
    width: 76%;//для IE
  }

  .contact-list__input {
    font-size: 19px;
    line-height: 19px;
    background-color: @lighten;
    padding: 0 70px 5px 17px;
    margin: 0;
    flex-grow: 1;
  }

  .contact-list__label {
    max-width: 167px;
    padding: 17px 0;
    align-items: stretch;

    &::after {
      content: none;
    }
  }

  .contact-list__image {
    right: 26px;
    top: 11px;
  }
}

@media @desktop {
  .contact-list__wrapper {
    padding: 0 225px 0 112px;
    max-width: 1150px;
    margin: 0 auto 26px;
  }

  .contact-list__wrapper-input {
    width: 90%;
  }

  .contact-list__image {
    right: 5px;
    top: 8px;
  }

  .contact-list__label {
    max-width: 114px;
    padding: 16px 0;
  }
}
