.contacts {
  box-sizing: border-box;
  padding: 26px 30px 36px;
}
.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 28px;
}
.contacts__mail {
  font-size: @font-size-base;
  line-height: 30px;
  font-weight: 400;
  color: @font-color-text;
  margin-bottom: 32px;
}
.contacts__adress {
  font-size: @font-size-base;
  line-height: 30px;
  font-weight: 400;
  color: @font-color-text;
  margin-bottom: 36px;
}
.contacts__link {
  color: @font-color-text;
}
