.developer-item__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: @font-color-base;
  padding: 0;
}

.developer-item__logo-image {
  max-width: 100%;
  margin-left: 20px;
}

.developer-item__logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
