.features {
  padding: 26px 30px;
}

.features__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: @base;
  margin: 8px 0 33px;
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: @base;
  padding: 54px 0 29px;
  position: relative;

  &::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    position: absolute;
  }

  &--flower {
    padding-right: 85px;

    &::before {
      background-image: url("../../img/icon-feature-flower.svg");
      width: 32px;
      height: 37px;
      left: 8px;
      top: 0;
    }
  }

  &--money {
    padding-right: 59px;

    &::before {
      background-image: url("../../img/icon-feature-money.svg");
      width: 47px;
      height: 27px;
      left: 0;
      top: 0;
    }
  }

  &--heart {
    padding-right: 78px;

    &::before {
      background-image: url("../../img/icon-feature-heart.svg");
      width: 34px;
      height: 27px;
      left: 7px;
      top: 6px;
    }
  }

  &--ball {
    padding-right: 40px;

    &::before {
      background-image: url("../../img/icon-feature-ball.svg");
      width: 35px;
      height: 34px;
      left: 3px;
      top: 3px;
    }
  }

  &--rocket {
    &::before {
      background-image: url("../../img/icon-feature-rocket.svg");
      width: 55px;
      height: 23px;
      left: -5px;
      top: 4px;
    }
  }

  &--gift {
    padding-right: 50px;

    &::before {
      background-image: url("../../img/icon-feature-gift.svg");
      width: 33px;
      height: 32px;
      left: 3px;
      top: 2px;
    }
  }
}

@media @tablet {
  .features {
    padding: 62px 50px 24px;
  }

  .features__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 48px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    font-size: 20px;
    line-height: 22px;
    width: 50%;
    margin-bottom: 28px;

    &--flower {
      order: -1;
      padding-right: 120px;
    }

    &--ball {
      padding-right: 70px;
    }

    &--money {
      order: 1;
      padding-right: 90px;
    }

    &--rocket {
      order: 2;
    }

    &--heart {
      order: 3;
      padding-right: 110px;
    }

    &--gift {
      order: 4;
      padding-right: 92px;
    }
  }
}

@media @desktop {
  .features {
    padding: 70px 220px 30px 226px;
    max-width: 1150px;
    margin: 0 auto;
  }

  .features__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: -6px;
    margin-top: 4px;
  }
}
