.map {
  background-color: @header-footer-bg;
  background-image: url("../img/map-mobile@1x.jpg");
  width: 100%;
  min-height: 457px;
  margin-bottom: 42px;
  min-width: 320px;
  margin-left: -30px;
}
