.modal-show {
  display: flex;
  width: 320px;
  height: 336px;
  margin: 0 auto;
  flex-direction: column;
  padding: 27px 30px 42px;
  box-shadow: 0 5px 10px 0 @modal-shadow;
  border: solid 1px @modal-border;
  background-color: @modal-bg;
  box-sizing: border-box;
}

.modal-show__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: @base;
  text-align: center;
  text-transform: uppercase;
  margin: 0 55px;
}

.modal-show__option {
  line-height: 30px;
  text-align: center;
  margin: 13px 0 24px;
}

.modal-show__list {
  list-style: none;
  padding: 0;
  margin: 0 0 34px;
  display: flex;
  justify-content: space-between;
}

.modal-show__label {
  display: flex;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 80px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 2px solid @modal-border-label;

  &:hover {
    border-color: @border-action;
  }

  &:active {
    border-color: @primary-color;
  }
}

.modal-show__input:focus + .modal-show__label {
  border-color: @border-action;
}

.modal-show__input:checked + .modal-show__label {
  border-color: @primary-color;
}

.modal-show__button {
  min-width: 100%;
  color: @modal-button;
  background-color: @primary-color;
  line-height: 17px;
  border: none;
  padding: 17px 0;

  &:hover {
    color: @modal-button;
    background-color: @primary-color;
  }

  &:active {
    color: @action--button;
  }
}

@media @tablet {
  .modal-show {
    width: 566px;
    padding: 32px 103px 76px 107px;
    margin: 0 auto;
  }

  .modal-show__title {
    font-size: 30px;
    line-height: 57px;
    margin: 0;
  }

  .modal-show__option {
    font-size: 17px;
    margin-top: 14px;
    margin-bottom: 23px;
  }

  .modal-show__list {
    margin-bottom: 30px;
  }

  .modal-show__label {
    width: 112px;
    height: 52px;
  }

  .modal-show__button {
    width: 350px;
  }
}
