.modal-show {
  display: flex;
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding: 27px 30px 42px;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 51;
}

.modal-show__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: @font-color-base;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.modal-show__option {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: @font-color-text;
  text-align: center;
  margin: 13px 0 24px;
}

.modal-show__list {
  list-style: none;
  padding: 0;
  margin: 0 0 31px;
  display: flex;
  justify-content: space-between;
}

.modal-show__label {
  display: flex;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: @font-color-text;
  text-transform: uppercase;
  cursor: pointer;
  width: 78px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(68, 68, 68, 0.1);

  &:hover {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &:active {
    border-color: @green-main;
  }
}

.modal-show__input:focus + .modal-show__label {
  border-color: rgba(68, 68, 68, 0.3);
}

.modal-show__input:checked + .modal-show__label {
  border-color: @green-main;
}

.modal-show__button {
  min-width: 100%;
  color: @font-color-starting;
  background-color: @green-main;
  line-height: 16px;
  border: none;

  &:hover {
    color: @font-color-starting;
    background-color: @green-main;
  }
}

@media @tablet {
  .modal-show {
    width: 566px;
    padding: 51px 104px 46px;
    margin: 0 auto;
  }

  .modal-show__title {
    font-size: 30px;
    line-height: 57px;
  }

  .modal-show__option {
    font-size: 17px;
  }

  .modal-show__label {
    width: 110px;
    height: 52px;
  }

  .modal-show__button {
    width: 350px;
  }
}
