.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list__item {
  position: relative;
  z-index: 10;
}

.nav-list__link {
  color: @base;
  font-size: 17px;
  font-weight: 700;
  display: block;
  padding: 27px 30px 27px 76px;
  border-bottom: 1px solid @header-border;

  &:hover {
    color: @action--light;

    & .nav-list__link-image {
      color: @primary-color;
    }
  }

  &:active {
    color: @action--lighten;

    & .nav-list__link-image {
      opacity: 0.3;
    }
  }
}

.nav-list__link-image {
  position: absolute;
  color: @action--lightest;
  top: 50%;
  transform: translateY(-50%);
  left: 32px;
}


@media @tablet {
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
  }

  .nav-list__item {
    &--cart {
      order: -1;
      margin-left: auto;
    }

    &--search {
      order: -2;
      margin-left: 47.1%;
    }
  }

  .nav-list__link {
    padding: 18px 37px 18px 0;
    border-bottom: none;
    font-size: 15px;

    &--cart {
      font-size: 17px;
      padding: 32px 0 32px 82px;
    }

    &--search {
      font-size: 0;
      padding: 30px 47px 33px 32px;
      border-left: 1px solid @header-border;
      border-right: 1px solid @header-border;
    }
  }
}

@media (min-width: 1086px) {
  .nav-list__item--search {
    margin-left: 50.4%;
  }
}

@media @desktop {
  .nav-list {
    border-bottom: 1px solid @header-border;
  }

  .nav-list__item {
    order: 0;
    padding: 0;

    &--search {
      margin-left: auto;
    }

    &--cart {
      margin: 0;
    }

    &:first-child {
      border-right: 1px solid @header-border;
    }
  }

  .nav-list__link {
    padding: 32px 0 32px 37px;
    font-size: 17px;

    &--search {
      font-size: 0;
      padding: 30px 47px 33px 32px;
    }

    &--cart {
      padding-left: 83px;
    }
  }

  .nav-list__item:first-child .nav-list__link {
    padding: 32px 37px 32px 0;
  }
}
