.order__block {
  border: none;
  margin: 0;
  padding: 0;
}

.order__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: @font-color-legend;
  text-transform: uppercase;
}

.order__remark {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: @font-color-text;
}

.order__button {
  width: 100%;
}
