.page-footer {
  background-color: @header-footer-bg;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px 23px;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-image {
  display: block;
  color: @black;
}

.page-footer__social {
  padding-bottom: 19px;
  position: relative;
}

.page-footer__social::after {
  content: "";
  position: absolute;
  top: 100%;
  left: -57px;
  width: 260px;
  height: 1px;
  background-color: #e5e5e5;
}

@media @tablet {
  .page-footer {
    flex-direction: row;
    padding: 36px 50px 43px;
    box-sizing: border-box;
  }

  .page-footer__logo {
    display: block;

    &[href] {
      cursor: pointer;
    }

    &[href]:hover .page-footer__logo-image {
      color: #46c1ae;
    }

    &[href]:active .page-footer__logo-image {
      opacity: 0.3;
    }
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__developer {
    width: 33.333%;
    box-sizing: border-box;
  }

  .page-footer__social::after {
    width: 0;
    height: 0;
  }
}

@media @desktop {
  .page-footer__logo {
    text-align: left;
    padding-left: 51px;
  }

  .page-footer__developer {
    text-align: right;
    padding-right: 51px;
  }
}
