.page-catalog__title {
  background-color: @header-footer-bg;
  padding-top: 72px;
  padding-bottom: 74px;
  text-align: center;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: @font-color-base;
}

@media @tablet {
  .page-catalog {
    margin-bottom: 63px;
  }

  .page-catalog__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 106px;
    padding-bottom: 78px;
    margin-top: -60px;
    z-index: -1;
  }
}

@media @desktop {
  .page-catalog__title {
    font-size: 53px;
    line-height:57px;
  }

  .page-catalog__product {
    margin-bottom: 57px;
  }
}
