.page-footer {
  background-color: @header-footer-bg;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px 23px;
}

.page-footer__logo-image {
  max-width: 102px;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
