.page-header {
  flex-grow: 1;
}

.page-header__logo-wrapper {
  position: relative;
}

.page-header__logo {
  display: block;
  padding: 22px 0;
  border-bottom: 1px solid #ececec;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-header__logo-image {
  display: block;
  width: 86px;
  height: 35px;
  margin: 0 auto;
}

.page-header__nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  width: 20px;
  height: 14px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url("../../img/icon-menu-open.svg");
  background-repeat: no-repeat;
}

@media @tablet {
  .page-header {
    position: relative;
  }

  .page-header__logo-wrapper {
    position: absolute;
    left: 50px;
  }

  .page-header__logo {
    border-bottom: none;
  }

  .page-header__logo-image {
    margin: 0;
    width: 112px;
    height: 46px;
  }

  .page-header__nav-button {
    display: none;
  }
}

@media @desktop {
  .page-header__logo-wrapper {
    left: 50%;
    transform: translate(-50%);
  }

  .page-header__logo {
    padding: 0;
  }

  .page-header__logo-image {
    width: 148px;
    height: 72px;
  }
}
