.page-footer {
  background-color: @header-footer-bg;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px 23px;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-image {
  display: block;
  color: @black;
}

.page-footer__social {
  padding-bottom: 53px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: -57px;
    width: 260px;
    height: 1px;
    background-color: #e5e5e5;
  }
}

@media @tablet {
  .page-footer {
    flex-direction: row;
    padding: 51px 50px 58px;
    box-sizing: border-box;
  }

  .page-footer__logo {
    display: block;

    &[href] {
      cursor: pointer;
    }

    &[href]:hover .page-footer__logo-image {
      color: #46c1ae;
    }

    &[href]:active .page-footer__logo-image {
      opacity: 0.3;
    }
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__developer {
    width: 33.333%;
  }

  .page-footer__social {
    padding-bottom: 0;

    &::after {
      width: 0;
      height: 0;
    }
  }
}

@media @desktop {
  .page-footer__logo {
    text-align: left;
  }

  .page-footer__developer {
    text-align: right;
  }
}
