.page-form {
  margin-bottom: 54px;
}

.page-form__completed-form {
  font-size: 13px;
  margin: 24px 0;
  padding: 0 30px;
}

@media @tablet {
  .page-form {
    padding: 0;
  }

  .page-form__completed-form {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    padding: 72px 51px 11px;
  }
}

@media @desktop {
  .page-form__completed-form {
    padding: 72px 17px 11px 0;
    width: 700px;
    margin: 48px auto 0;
  }
}
