.page-form__title {
  background-color: @header-footer-bg;
  padding-top: 72px;
  padding-bottom: 74px;
  text-align: center;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: @font-color-base;
}

.page-form__completed-form {
  font-size: 13px;
  line-height: @line-height-base;
  font-weight: 400;
  color: @font-color-text;
  margin-top: 25px;
  margin-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;
}

@media @tablet {
  .page-form {
    margin-bottom: 50px;
    padding: 0;
  }

  .page-form__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 91px;
    padding-bottom: 68px;
    margin-top: -60px;
    position: relative;

    &::after {
      content: "";
      height: 24px;
      width: 100%;
      background-image: url("../../img/bg-zigzag-fill.svg");
      background-size: contain;
      position: absolute;
      bottom: -12px;
      left: -5px;
    }
  }

  .page-form__completed-form {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    padding: 72px 51px 11px;
  }
}

@media @desktop {
  .page-form__completed-form {
    padding: 72px 225px 11px;
  }
}
