.page-header__logo-wrapper {
  position: relative;
}

.page-header__logo-image {
  max-width: 86px;
  height: 35px;
  display: block;
  margin: 0 auto;
  padding-bottom: 18px;
  padding-top: 18px;
}

.page-header__nav-button {
  position: absolute;
  top: 22px;
  right: 10%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
