.product {
  box-sizing: border-box;
  padding: 26px 30px 36px;
}
.product__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}
.product__week {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: @font-color-legend;
  margin-bottom: 22px;
}
.product__presentation {
  color: @font-color-text;
}
.product__list {
  line-height: 20px;
  color: @font-color-text;
  border-collapse: collapse;
  width: 100%;
}
.product__price {
  font-size: 17px;
  color: @font-color-text;
  display: block;
  text-align: center;
  margin-bottom: 24px;
}
.product_image {
  vertical-align: top;
  margin-bottom: 25px;
}
.product__field {
  width: 38%;
  padding: 10px 0;
}
