.radio-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.radio-list__item {
  display: flex;
  margin-bottom: 15px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.radio-list__input {
  &:focus + .radio-list__label::before {
    border-color: @border-accent;
  }

  &:checked + .radio-list__label::after {
    content: "";
    min-width: 16px;
    height: 16px;
    background-color: @border-accent;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    transform: translateX(-50%);
    top: 12px;
  }
}

.radio-list__label {
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: @base;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

  &--interior {
    align-items: flex-start;
    height: 43px;
  }

  &::before {
    content: "";
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid @default;
    margin-right: 22px;
    box-sizing: content-box;
  }

  &:hover::before {
    border-color: @border-accent;
  }

  &:active::before {
    border-color: @border-action;
  }
}

.radio-list__label-text {
  align-self: flex-end;
}

@media @tablet {
  .radio-list {
    padding: 45px 0;
    padding-bottom: 50px;
  }

  .radio-list__item {
    margin-bottom: 20px;
  }

  .radio-list__label-text {
    align-self: center;
  }

  .radio-list__input:checked + .radio-list__label::after {
    min-width: 22px;
    height: 22px;
    left: 27px;
    top: 16px;
  }

  .radio-list__label {
    font-size: 19px;
    line-height: 19px;

    &--interior {
      align-items: center;
      height: auto;
    }

    &::before {
      min-width: 50px;
      height: 50px;
      margin-right: 28px;
    }
  }
}
