.reviews {
  box-sizing: border-box;
  padding: 26px 30px 44px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
}

.reviews__item {
  font-size: @font-size-base;
  line-height: 30px;
  color: @font-color-text;
  margin: 0;
}

.reviews__quote {
  margin-bottom: 24px;
}

.reviews__author {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @font-color-base;
  font-style: normal;
}

.reviews__link {
  font-size: 17px;
  line-height: 30px;
  color: @font-color-text;
  display: block;
  margin-bottom: 49px;
}

.reviews__button {
  margin-top: 49px;
}
.reviews__navigation {
  display: flex;
  flex-wrap: wrap;
}

.reviews__nav-button {
  border: none;
  border: solid 1px #ececec;
  cursor: pointer;
  width: 50%;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &--prev {
    background-image: url("../../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../../img/icon-right-arrow.svg");
  }
}

@media @tablet {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    padding: 77px 50px 121px;
    position: relative;
  }

  .reviews__title {
    order: -2;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 32px;
  }

  .reviews__item {
    padding-left: 0;
  }

  .reviews__quote {
    font-size: 17px;
  }

  .reviews__author {
    font-size: 18px;
    max-width: 45px;
  }

  .reviews__button {
    order: -1;
    width: 175px;
    margin-top: 0;
    margin-right: 0;
  }

  .reviews__link {
    margin: 0;
  }

  .reviews__navigation {
    position: absolute;
    right: 50px;
    bottom: 134px;
    width: 175px;
  }

  .reviews__nav-button {
    border: none;
  }
}

@media @desktop {
  .reviews {
    padding-left: 224px;
    padding-right: 50px;
    background-position: 50px 0;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    max-width: 220px;
  }

  .reviews__quote {
    margin-bottom: 38px;
    padding-right: 106px;
    max-width: 770px;
  }
}
