.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 180px;
}

.social__item {
  width: 32%;
  display: flex;
  justify-content: center;
  padding: 3px 0;
}

.social__link {
  font-size: 0;
  color: @base;

  &:hover {
    color: @accent-color--secondary;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__image {
  vertical-align: top;
}

@media @tablet {
  .social__list {
    margin: 0 auto;
  }
}
