.starting {
  background-color: @header-footer-bg;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -15%;
  padding: 71px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 489px;
}

.starting__item {
  &--decor {
    background-color: @green-main;
  }

  &--toys {
    background-color: @main-toys-bg;
  }
}

.starting__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  padding: 0 39px;
  text-align: center;
  margin-top: 0;
  margin-bottom: auto;
}

.starting__link {
  font-size: 19px;
  font-weight: 700;
  color: @font-color-starting;
  padding: 26px 30px 29px;
  display: block;
}

.starting__text {
  max-width: 120px;
  display: block;
}

.starting__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
