.starting {
  background-color: #fafafa;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -15%;
  padding: 71px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 489px;
}

.starting__item {
  &--decor {
    background-color: @green-main;
  }

  &--toys {
    background-color: @main-toys-bg;
  }
}

.starting__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  padding: 0 38px;
  text-align: center;
  margin-top: 0;
}

.starting__link {
  font-size: 19px;
  font-weight: 700;
  color: @font-color-starting;
  padding: 26px 30px 29px;
  display: block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    opacity: 0.5;
    top: 50%;
    transform: translateY(-50%);
  }

  &--decor {
    background-color: @green-main;

    &::after {
      background-image: url("../../img/icon-interior.svg");
      width: 40px;
      height: 62px;
      right: 36px;
    }
  }

  &--toys {
    background-color: @main-toys-bg;

    &::after {
      background-image: url("../../img/icon-toy.svg");
      width: 60px;
      height: 60px;
      right: 27px;
    }
  }
}

.starting__text {
  max-width: 120px;
  display: block;
}

.starting__list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

@media @tablet {
  .starting {
    background-image: url("../../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    min-height: 746px;
    margin-top: -60px;
    z-index: -1;
    position: relative;

    &::after {
      content: "";
      height: 24px;
      width: 100%;
      background-image: url("../../img/bg-zigzag-fill.svg");
      background-size: 768px 24px;
      position: absolute;
      bottom: -12px;
    }
  }

  .starting__title {
    font-size: 43px;
    line-height: 50px;
    padding: 0 129px;
    margin-top: 82px;
  }

  .starting__list {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
  }

  .starting__item {
    flex-grow: 1;
  }

  .starting__link {
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
  }
}

@media @desktop {
  .starting {
    background-image: url("../../img/hero-desktop@1x.jpg");
    background-repeat: no-repeat;
  }

  .starting__title {
    font-size: 53px;
    line-height: 57px;
    padding: 0 220px;
    margin-top: 82px;
  }

  .starting__list {
    padding-left: 50px;
    padding-right: 50px;
  }
}
