.text-list {
  list-style: none;
  padding: 0;
  margin-top: 27px;
}

.text-list__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.text-list__input {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  padding: 17px 0;
  border: none;
  box-shadow: inset 0 -2px 0 0 @base;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    box-shadow: inset 0 -2px 0 0 @border-accent;
  }

  &::placeholder {
    color: @border-action;
  }
}

.text-list__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: @base;
  order: -1;
  cursor: pointer;
}

@media @tablet {
  .text-list {
    display: flex;
    flex-wrap: wrap;
    padding: 27px 0 54px;
    margin-top: 24px;
  }

  .text-list__item {
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
  }

  .text-list__input {
    font-size: 19px;
    line-height: 19px;
    padding: 13px 0 13px 17px;
    flex-grow: 1;
  }

  .text-list__label {
    font-size: 19px;
    line-height: 19px;
    padding-right: 26px;
    align-self: center;
  }
}

@media @desktop {
  .text-list {
    padding-right: 176px;
  }

  .text-list__item {
    margin-bottom: 25px;
  }
}
