.text-list__input {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.3);
}

.text-list__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: @font-color-base;
}
