.user-list {
  padding: 0;
  margin: 0;
}

.user-list__item {
  display: none;
  list-style: none;
}

.user-list__link {
  color: @font-color-base;
  font-weight: 700;
  z-index: 10;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.user-list__text {
    color: @font-color-text;
    font-weight: 400;
    margin: 0;
}

@media @tablet {
  .user-list {
    background-color: #F1F1F1;
    padding: 0 50px;

    &--index {
      background-color: #F9F9F9;
    }
  }

  .user-list__item--text {
    display: flex;
    margin-top: -60px;
    justify-content: flex-end;
  }

  .user-list__text {
    padding: 18px 0 18px 34px;
  }
}

@media @desktop {
  .user-list {
    display: flex;
    order: 3;
  }

  .user-list__item {
    display: flex;

    &--text {
      margin: 0;
      margin-left: auto;
    }
  }

  .user-list__item:first-child .user-list__link {
    padding: 18px 28px 18px 0;
  }

  .user-list__link {
    padding: 18px 59px 18px 37px;
  }
}
