.video {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

.video__source {
  width: 100%;
  vertical-align: middle;
}

.video__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @font-color-base;
  margin: 0;
}

.video__text {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: @font-color-text;
  margin: 0;
}

.video__header {
  padding: 25px 43px 22px 91px;
  border: 1px solid #ececec;
}

.video__block {
  padding: 34px 43px 33px 34px;
  border: 1px solid #ececec;
}

.video-button {
  margin-top: 25px;
}
