// .wrapper {
//   margin: 0 auto;
//   padding: 0;
//   min-width: @mobile-width;

//   @media @tablet {
//     min-width: @tablet-width;
//   }

//   @media @desktop {
//     min-width: @desktop-width;
//     max-width: @desktop-width;
//   }
// }

.wrapper {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;
  padding: 0 30px;

  @media @tablet {
    padding: 0 50px;
  }
}
