.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: @mobile-width;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-weight: normal;
  background-color: @bg-color-body;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @font-color-base;
}
