body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  background-color: @bg-color-body;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @font-color-base;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  outline: 1px solid red;
}
