@mobile-width: 320px;

@black: #000000;
@white: #FFFFFF;
@grey: #F1F1F1;
@grey-text: #444444;
@green-main: #63D1BB;
@green-secondary: #56C3B2;

@bg-color-body: @white;

@font-size-base: 15px;
@line-height-base: 24px;
@font-color-base: @black;
@font-color-starting: @white;
@font-color-legend: @green-main;
@font-color-text: @grey-text;



@import "wrapper.less";
@import "fonts.less";
@import "global.less";
@import "starting.less";
@import "map.less";
@import "page-footer.less";
@import "page-catalog.less";
@import "page-form.less";
@import "nav-list.less";
@import "lower-list.less";
@import "product.less";
@import "button.less";
@import "features.less";
@import "reviews.less";
@import "contacts.less";
@import "developer-item.less";
@import "modal-show.less";
@import "catalog.less";
@import "card-product.less";
@import "video.less";
@import "page-header.less";
@import "order.less";
@import "main-nav.less";
@import "checkbox-list";
@import "contact-list.less";
@import "mixin.less";
@import "page-main.less";
@import "proposition-list.less";
@import "radio-list.less";
@import "text-list.less";
@import "title.less";




