@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1150px;

@mobile: ~"(min-width: @{mobile-width})";
@tablet: ~"(min-width: @{tablet-width})";
@desktop: ~"(min-width: @{desktop-width})";

@black: #000000;
@white: #FFFFFF;
@header-footer-bg: #F1F1F1;
@green-main: #63D1BB;
@main-toys-bg: #56C3B2;
@font-color-text: #444444;
@font-size-base: 15px;
@line-height-base: 24px;

@bg-color-body: @white;

@font-color-base: @black;
@font-color-starting: @white;
@font-color-legend: @green-main;
